- name: Deploy Mkdocs infra with Ansible
  hosts: all
  become: yes
  gather_facts: yes
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

  tasks:
    - name: Set destination directory
      ansible.builtin.set_fact:
        dest_dir: "/opt/mkdocs-infra"

    - name: Ensure dependencies are installed
      ansible.builtin.package:
        name:
          - docker-ce
        state: present
      ignore_errors: yes
      register: docker_valid

    - name: Include geerlingguy.docker role conditionally
      include_role:
        name: geerlingguy.docker
      when: docker_valid is failed

    - name: Ensure target directory exists and is clean
      ansible.builtin.file:
        path: "{{ dest_dir }}"
        state: absent

    - name: Recreate target directory
      ansible.builtin.file:
        path: "{{ dest_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Copy current directory contents to destination
      ansible.posix.synchronize:
        src: ./
        dest: "{{ dest_dir }}/"

    - name: Start services with Docker Compose
      community.docker.docker_compose_v2:
        project_src: "{{ dest_dir }}"
        state: present
        files: compose-infra.yml
        recreate: always